# Ignore virtual environment
env/

# Ignore database
db.sqlite3

# Ignore static files
staticfiles/

# Ignore media files
media/

# Ignore local settings
local_settings.py

# Ignore environment variables
.env

# Ignore PyCharm files
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore development and temporary files
*.bak
*.swp
*.tmp
*.~

# Ignore coverage reports
htmlcov/

# Ignore Django migrations
**/migrations/

# Ignore .vscode folder
.vscode/

# Ignore node_modules
node_modules/
